<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Blog</title>
    <link rel="stylesheet" href="styles\styles.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4922/4922073.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <%- include("partials/header.ejs") %>
    </header>
    
    <main>
        <div class="main-wrapper">
            <div class="showPost postsMain">
                <div id="upperBarShowPost">
                    <div>
                        <h1>Recent posts 🎮</h1>
                    </div>
                    <div id="searchSort">
                        <div id="sortBy">
                            <button>Sort by ▼</button>
                        </div>
                        <div id="searchBar">
                            <input type="text" placeholder="Search:">
                        </div>
                    </div>
                </div>
                <div class="showPost-container">
                    <% posts.forEach(post => { %>
                        <div class="post">
                            <a href="/post/<%= post.id %>">
                                <img src="<%= post.image %>" alt="Image of a <%= post.gameName %> game">
                            </a>
                            <a href="/post/<%= post.id %>">
                                <h2><span><%= post.title %></span></h2>
                            </a>
                            <a href="/post/<%= post.id %>">
                                <button>Show post</button>
                            </a>
                        </div>
                    <% }); %>
                </div>
            </div>

            <div class="writePost postsMain">
                <div id="upperBarWritePost">
                    <h1>Create your own post ✍️</h1>
                </div>
                <div class="postForm-wrapper">
                    <form action="/writePost" method="POST" enctype="multipart/form-data">

                        <div class="form-field">
                            <label for="fname">Type</label>
                            <select id="postType-dropdown" name="postTypeDropdown" required>
                                <option value="Game review">Game review</option>
                                <option value="Game post">Game post</option>
                            </select>
                        </div>
                        
                        <div class="form-field">
                            <div class="label-div">
                                <label for="postTitile">Title </label>
                                <span class="info-asterisk">*
                                    <div class="asterisk-info-container">
                                        <p>This field is required.</p>
                                    </div>
                                </span>
                            </div>
                            <input required type="text" id="postTitile" name="postTitle" placeholder="Ex. The Witcher 3 Review">
                        </div>

                        <div class="form-field">
                            <div class="label-div">
                                <label id="gameTitle" for="gameTitle">Game name </label>
                                <span class="info-asterisk">*
                                    <div class="asterisk-info-container">
                                        <p id="gameNameAsterisk">This field is required.</p>
                                    </div>
                                </span>
                            </div>
                            <input required type="text" id="gameTitle" name="gameTitle">
                        </div>

                        <div class="form-field" id="releaseDate-container">
                            <div class="label-div">
                                <label for="releaseDate">Date of realse </label>
                                <span class="info-asterisk">*
                                    <div class="asterisk-info-container">
                                        <p>This field is required.</p>
                                    </div>
                                </span>
                            </div>
                            <select required id="releaseDate" name="releaseDate" required>
                                <option value="" disabled selected>Select a year</option>
                                <% releaseDates.forEach((element) => { %>
                                    <option value="<%= element %>"><%= element %></option>
                                <%})%>
                            </select>
                        </div>

                        <div class="form-field">
                            <div class="label-div">
                                <label for="description">Description </label>
                                <span class="info-asterisk">*
                                    <div class="asterisk-info-container">
                                        <p>This field is required.</p>
                                    </div>
                                </span>
                            </div>
                            <div class="textareaContainer">
                                <textarea required id="description"  name="description" rows="6" cols="50" maxlength="1500" required></textarea>
                                <div id="wordIndicator"> 0 / 1500</div>
                            </div>
                        </div>

                        <div class="form-field">
                            <label for="content">Image</label>
                            <input type="file" id="pictureFile" name="filename" accept="image/png, image/jpeg" />
                        </div>

                        
                        <div class="form-field" id="rating-container">
                            <div class="label-div">
                                <label for="content">Rating </label>
                                <span class="info-asterisk">*
                                    <div class="asterisk-info-container">
                                        <p>This field is required.</p>
                                    </div>
                                </span>
                            </div>
                            <select required name="gameRating" id="gameRating">
                                <option value="" disabled selected>Select rating</option>
                                <% for(let i=1; i <=10; i++){ %>
                                    <option name="" id=""><%= i %></option>
                                <% } %>
                            </select> 
                        </div>
                        
                        <div class="form-field">
                            <button onclick="showToast()" type="submit">Publish</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>   
    </footer>
    
    <script> 
        window.toastData = <%- JSON.stringify(toast || null) %>;
    </script>
    <script src="/js/appLogic.browser.js"></script>
</body>
</html>