<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Blog</title>
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/regLog.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4922/4922073.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <%- include("partials/header.ejs") %>
    </header>

    <main>
        <div class="regLog-wrapper">
            <div class="regLog-container">
                <form action="/sign" method="POST">
                    <% if(method === "signUp"){ %>
                        <h2>Sign up</h2>
                        <input placeholder="Enter your username" type="text" name="username" minlength="3" maxlength="18">
                        <input placeholder="Enter your gmail" type="text" name="gmail" minlength="1" maxlength="100"">
                        <input placeholder="Enter your password" type="password" name="password" minlength="3" maxlength="40">
                        <input placeholder="Confirm your password" type="password" name="confirmedPassword" minlength="3" maxlength="40">
                        <button name="mode" value="signUp">Sign Up</button>
                            <% if(locals.status === false){ %>
                                <p class="errorMessage" style="display: block;"> <%= locals.message %> </p>
                            <% } else if(locals.status === true){ %>
                                <p class="successMessage" style="display: block;"> <%= locals.message %> </p>
                            <% } else if(locals.errorMessage){ %>
                                <p class="errorMessage" style="display: block;"><%=locals.errorMessage %></p>
                            <% } %>
                        <a href="/regLog/signIn"><p>Already have an account? Sign in.</p></a>
                    <% } else { %>
                        <h2>Sign in</h2>
                        <input placeholder="Enter your username or gmail" type="text" name="usernameGmail">
                        <input placeholder="Enter your password" type="password" name="password">
                        <button name="mode" value="signIn">Sign In</button>
                            <% if(locals.status === false){ %>
                                <p class="errorMessage" style="display: block;"> <%= locals.message %> </p>
                            <% } else if(locals.status === true){ %>
                                <p class="successMessage" style="display: block;"> <%= locals.message %> </p>
                            <% } %>
                        <a href="/regLog/signUp"><p>Don't have an account? Sing up.</p></a>
                    <% } %>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
    
</body>
</html>